/*! Root */

:root {
    --page-bg: #000000;
    --base-colour: #ffffff;

    --search-bg: #3f3f3f;
}

* {
    margin: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--base-colour);
    border: border-box;
}

a {
    text-decoration: none;
}

/*! Body */

body {
    background-color: var(--page-bg);
}

/*! top-nav-bar */

/** the hover Animmation */

.hover-ani:hover {
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-color: var(--search-bg);
}

.mic-hover-ani:hover {
    display: flex;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #636363;
}

.nav-bar-top {
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
    /*? nav-bar-top-left */  
    .nav-bar-top-left {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
        
        /*? menu*/
        .menu {
            margin-left: 45px;
            display: flex;
            height: 39px;
            width: 39px;
            justify-content: center;
            align-items: center;
        }

        .menu:hover {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--search-bg);
        }

        .menu i {
            font-size: 1.3rem;
            color: var(--base-colour);
        }
        
        /*? logo*/
        .yt-logo {
            margin-left: 10px;
        }

        .yt-logo svg {
            height: 1.25rem;
            width: 5.625rem;
        }

        .yt-logo-txt {
            fill: var(--base-colour)
        }
    
    /*? nav-bar-top-middle*/
    .nav-bar-top-middle {
        display: flex;
        height: 2.5rem;
        width: 41%;
        justify-content: space-evenly;
        align-items: center;
    }

        /*? search bar*/
        .search-bar {
            height: 35px;
            width: 80%;
            color: var(--base-colour);
            font-size: 1.1rem;
            background-color: var(--page-bg);
            padding-left: 10px;
            border: 1px solid #3f3f3f;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        
        .search-bar:hover {
            border: 2px solid #485dfa;
        }

        .search-bar:active {
            border: 2px solid #485dfa;
        }

        .search-icon {
            height: 39px;
            border: 2px solid #3f3f3f;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            width: 10%;
            background-color: var(--search-bg);
        }

        .search-icon i {
            font-size: 1.3rem;
            color: var(--base-colour);
        }

        .mic-icon {
            margin-left: 10px;
            display: flex;
            height: 39px;
            width: 39px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            background-color: var(--search-bg);
        }

        .mic-icon i {
            font-size: 1.3rem;
            color: var(--base-colour);
        }
    
    /*? nav-bar-top-rigth*/
    .nav-bar-top-rigth {
        display: flex;
        height: 2.5rem;
        width: 16%;
        flex-direction: row-reverse;
    }

    .nav-bar-top-rigth div {
        margin-left: 10px;
        margin-right: 10px;
    }

        /*? Uplode icon*/
        .uplode {
            display: flex;
            height: 39px;
            width: 39px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
        }

        .uplode i {
            font-size: 1.3rem;
            color: var(--base-colour);
        }
        
        /*? Bell */
        .bell {
            display: flex;
            height: 39px;
            width: 39px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
        }

        .bell i {
            font-size: 1.3rem;
            color: var(--base-colour);
        }

        /*? Profile pic */
        .profile {
            display: flex;
            height: 39px;
            width: 39px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
        }

        .profile img {  
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }

/** fix */
.fix {
    display: flex;
}

/*! side-nav-bar */

.side-nav-bar {
    width: 74px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.side-nav-bar-box {
    display: flex;
    height: 64px;
    width: 74px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-nav-bar-box:hover {
    display: flex;
    height: 64px;
    width: 74px;
    border-radius: 10px;
    background-color: var(--search-bg);
    flex-direction: column;
    align-items: center;
}

.side-nav-bar-text {
    margin-top: 5px;
    font-size: 10px;
}

.side-nav-bar-div {
    height: 24px;
    width: 24px;
}

/*! genre-nav-bar */

.genre-nav-bar {
    display: flex;
    height: 38px;
}

.genre {
    height: 32px;
    width: max-content;
    background-color: var(--search-bg);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.genre:hover {
    background-color: #636363;
}

.on-the-genre:hover {
    background-color: var(--base-colour);
}

.on-the-genre {
    margin-left: 10px;
    background-color: var(--base-colour);
}

.on-the-genre a {
    color: var(--page-bg);
}

/*! Video */

.fix-2 {
    display: flex;
    height: 38px;
    width: 38px;
    flex-direction: column;
}

.blank {
    height: 38px;
    width: 100%;
}

.tumbali img {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    width: 340px;
    height: inherit;
}

.vid-bar-1 {
    margin-top: 10px;
    display: flex;
}

.vid-bar-2 {
    margin-top: 20px;
    display: flex;
    margin-bottom: 50px;
}

.chanal-logo {
    margin-top: 5px;
    margin-left: 10px;
    background-color: var(--base-colour);
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.chanal-logo img {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.Extra-info-vid {
    display: flex;
    flex-direction: row;
}

.vid-tital {
    margin-top: 5px;
    margin-left: 5px;
    color: var(--base-colour);
    font-size: 16px;
}

.some-muted-text p {
    margin-top: 5px;
    margin-left: 5px;
    color: #3f3f3f;
    font-weight: 600;
    font-size: 9px;
}


/*! Shorts Section  */

.shorts-txt-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shorts-icon {
    margin-left: 50px;
    display: flex;
    height: 24px;
    width: 24px;
    justify-content: center;
    align-items: center;
}

.shorts-icon img {
    height: 24px;
    width: auto;
}

.shorts-comtant-text {
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
}

    .shorts-page-1 {
        margin-top: 20px;
        display: flex;
    }

    .shorts-page-2 {
        margin-top: 20px;
        display: flex;
    }

    .shorts-thumbamil { 
        margin-right: 15px;  
        width: 220px;
        height: 420px;
    }

    .shorts-thumbamil img {
        border-radius: 10px;
        width: 220px;
        height: 420px;
    }

    .shorts-tital {
        font-size: 17px;
        padding-top: 12px;
        padding-bottom: 5px;
        color: var(--base-colour);
    }

    .shorts-view-count p {
        color: #3f3f3f;
        font-size: 15px;
    }